<ion-header>
  <ion-toolbar>
    <ion-title>Historial de mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de métricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revise el estado de su cultivo en las semanas del 09-06-2019 hasta el 22-06-2019
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de métricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revise el estado de su cultivo en las semanas del 26-05-2019 hasta el 08-06-2019
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de métricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revise el estado de su cultivo en las semanas del 05-05-2019 hasta el 25-06-2019
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
</ion-content>
