<ion-header>
  <ion-toolbar>
    <ion-title>Histoial de mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de metricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revse el estado de su cultivo en las utlimas semana
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de metricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revse el estado de su cultivo en las utlimas semana
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/img/1727914.png"/>
          <ion-card-title>Resumen de metricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Revse el estado de su cultivo en las utlimas semana
          <a (click)="alertHistory()">Ver mas detalles</a>
        </ion-card-content>
    </ion-card>
</ion-content>
