<ion-header>
    <ion-toolbar>
        <ion-button size="small" fill="clear" (click)="alertLogOut()">
          <ion-icon slot="start" name="contact"></ion-icon>
          {{userEmail}}
        </ion-button>
        <ion-button size="small" fill="clear" (click)="alertConfig()">
            <ion-icon color="dark" slot="end" name="md-settings"></ion-icon>
        </ion-button>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div echarts [options]="options1" class="demo-chart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div echarts [options]="options" class="demo-chart"></div>
    </ion-card-content>
  </ion-card>
</ion-content>